<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragements :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
</head>

<body>

<!-- 导航 -->
<nav th:replace="admin/_fragements :: nav(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/449/100/100" alt="" class="ui avatar image">
                        Sheldor
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" style="text-align: center;">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="toggle1" class="ui black icon button m-right-top m-mobile-show">
        <i class="icon sidebar"></i>
    </a>

</nav>
<br>
<br>
<!-- 内容 -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功</p>
        </div>

        <!-- 表格 -->
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag, iterStat : ${tagPage.data}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">可以联系清单</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/goUpdate/{id}(id=${tag.id})}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/delete/{id}(id=${tag.id})}"
                       class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination mini menu" th:if="${tagPage.totalPageCount > 1}">
                        <a href="#" th:href="@{/admin/tags(pageIndex=${tagPage.pageIndex - 1})}"
                           th:unless="${tagPage.pageIndex == 1}" class="item">上一页</a>
                        <a href="#" th:href="@{/admin/tags(pageIndex=${tagPage.pageIndex + 1})}"
                           th:unless="${tagPage.pageIndex == tagPage.totalPageCount}" class="item">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<!-- 底部 footer -->
<footer th:replace="admin/_fragements :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded image" src="../../static/images/wechat.png" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-lined">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-lined">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：2234475261@qq.com</a>
                    <a href="#" class="item">QQ：2234475261</a>
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui inverted link list">
                    <h4 class="ui inverted header m-text-thin m-text-lined">Blog</h4>
                    <p class="m-text-thin m-text-lined m-opacity-mini">这是我的个人博客，会分享关于编程，相关的内容，希望可以对来到这的人有所帮助</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class=" m-text-thin m-text-lined m-opacity-tiny">Copyright &nbsp;&nbsp; ©
            &nbsp;&nbsp;2019&nbsp;&nbsp;-&nbsp;&nbsp;2020&nbsp;&nbsp; Sheldor</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('#toggle1').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: "hover"
    });

    $('.message .close').click(function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>

</html>